krakenpattern filter=lfs diff=lfs merge=lfs -text

# git lfs install
# git lfs track "*.png"
# git lfs track "*.jpg"
# git lfs track "*.jpeg"
# git lfs track "*.gif"
# git lfs track "*.svg"
# git lfs track "*.ico"
# git lfs track "*.ttf"
# git lfs track "*.otf"
# git lfs track "*.woff"
# git lfs track "*.woff2"
# git lfs track "*.eot"
# git lfs track "*.json"
# git lfs track "*.xml"
# git lfs track "*.yml"
# git lfs track "*.yaml"
# git lfs track "*.css"
# git lfs track "*.less"
# git lfs track "*.scss"
# git lfs track "*.sass"
# git lfs track "*.md"
# git lfs track "*.txt"
# git lfs track "*.htm"
# git lfs track "*.html"
# git lfs track "*.sh"
# git lfs track "*.js"
# git lfs track "*.json"
# git lfs track "*.zip"
# git lfs track "*.tar"
# git lfs track "*.gz"
# git lfs track "*.rar"
# git lfs track "*.7z"
# git lfs track "*.bz2"
# git lfs track "*.xz"
# git lfs track "*.mp3"
# git lfs track "*.mp4"
# git lfs track "*.ogg"
# git lfs track "*.ogv"
# git lfs track "*.webm"
# git lfs track "*.avi"
# git lfs track "*.mov"
# git lfs track "*.wmv"
# git lfs track "*.flv"
# git lfs track "*.swf"
# git lfs track "*.mkv"
# git lfs track "*.mpg"
# git lfs track "*.mpeg"
# git lfs track "