/*  */

.online_courses_main_container {
  min-height: 100vh;
  /* background: linear-gradient(135deg, #040d22, #421f46); */
  background: #421f46;
}

.online_courses_main_container > canvas {
  z-index: 1 !important;
}

.online_courses_hero_container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1.5fr;
  grid-template-rows: 100px auto;
  grid-template-areas: 'nav nav nav' 'aside main aside-right';
}

.courses_aside {
  grid-area: aside;
}

.courses_aside_right {
  grid-area: aside-right;
}

.courses_aside,
.courses_aside_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.profile_content {
  width: 95%;
  height: 390px;
  background: #040d22;
  border-radius: 8px;
}

.profile_content_full {
  width: 95%;
  height: 100%;
  background: #040d22;
  border-radius: 8px;
}

.courses_main {
  grid-area: main;
}

.courses_nav {
  grid-area: nav;
  display: grid;
  position: relative;
  z-index: 2;
  grid-template-columns: 1fr 4fr 1.5fr;
}

.courses_nav > div {
  padding: 20px;
  display: flex;
  align-items: center;
}

.courses_nav_left {
  justify-content: space-between;
}



.courses_nav_left > button {
  background-color: #00966b;
  border-radius: 8px;
  color: white;
  padding: 16px 29px;
}

.courses_nav_center {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

/* 


      box-shadow: rgb(31, 65, 90) 0px 34px 65px 0px, rgba(0, 0, 0, 0.07) 0px 2.75px 2.21px 0px,
    rgba(0, 0, 0, 0.043) 0px 6.65px 5.32px 0px, rgba(121, 87, 125, 0.03) 0px 12.5px 10px 0px,
    rgba(121, 87, 125, 0.03) 0px 22px 18px 0px, rgba(121, 87, 125, 0.02) 0px 42px 33.4px 0px,
    rgba(121, 87, 125, 0.016) 0px 100px 80px 0px;
*/

.courses_nav_center,
.courses_aside,
.courses_aside_right {
  box-shadow: rgb(4, 13, 33) 0px 34px 65px 0px, rgba(0, 0, 0, 0.07) 0px 2.75px 2.21px 0px,
    rgba(0, 0, 0, 0.043) 0px 6.65px 5.32px 0px, rgba(0, 0, 0, 0.03) 0px 12.5px 10px 0px,
    rgba(0, 0, 0, 0.03) 0px 22px 18px 0px, rgba(0, 0, 0, 0.02) 0px 42px 33.4px 0px,
    rgba(0, 0, 0, 0.016) 0px 100px 80px 0px;
}

.courses_nav_center > input[type='text'] {
  background: #272f43;
  border: 1px solid #57606a;
  border-radius: 4px;
  height: 100%;
  width: 60%;
  color: white;
  padding-left: 20px;
}

.courses_nav_center > select {
  background: #272f43;
  border: 1px solid #57606a;
  border-radius: 4px;
  height: 100%;
  width: 38%;
  color: white;
  padding: 0 20px;
}

.courses_nav_right {
  justify-content: space-between;
}

.courses_nav_right > button {
  background-color: #00966b;
  border-radius: 8px;
  color: white;
  padding: 16px 29px;
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.profile_pic_user {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-image: url(./assets/img/profile/profile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
