@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "VT323", monospace !important;
}

body {
  background-image: url(./features/common/assets/png/background2.png);
  min-height: 100vh;
}

.terminal-dark {
  background-color: #0c162d;
  color: white;
  box-shadow: #0c3262 0px 54px 55px, #0c3262 0px -12px 30px, #0c3262 0px 4px 6px,
    #0c3262 0px 12px 13px, #0c3262 0px -3px 5px;
  margin-top: 40px;
  margin-left: 40px;
  padding:  0 0 20px 0;
}

.termina-md {
  height: 400px;
  max-width: 490px;
  border-radius: 6px;
}

.terminaHeader {
  height: 28px;
  background: #19253B;
  border-top-left-radius:6px ;
  border-top-right-radius:6px ;
}