@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;1,400&display=swap');

/*
USAGE => font-family: 'Nunito Sans', sans-serif;
*/


:root {
    --font-nunito: 'Nunito Sans', sans-serif;
}

.chatAppContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.chatApp {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 23% auto 23%;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.light_bg_chatapp {
    background-color: #1c1d22
}

.dark_bg_chatapp {
    background-color: #141416
}


.border_light {
    border: 1px solid #37393C;
}


.border_top_light {
    border-top: 1px solid #37393C;
}

.border_right_light {
    border-right: 1px solid #37393C;
}

.border_bottom_light {
    border-bottom: 1px solid #37393C;
}


.border_left_light {
    border-left: 1px solid #37393C;
}

.left_header_profile {
    height: 140px;
    padding: 12px 16px 23px;
}

.left_header_icon_container {
    width: 54px;
    display: flex;
    justify-content: space-between;

}

.left_header_search_box,
.center_header_search_box {
    background: #26272D;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    align-items: center;
    justify-content: space-between;

}

.left_header_search_box {
    width: 100%;
    margin-top: 24px;
}


.center_header_search_box {
    width: 50%;
    height: 40px;
}

.left_header_search_box>input,
.center_header_search_box>input {
    height: inherit;
    width: calc(100% - 50px);
    background: none;
    color: white;
}

.left_stories {
    height: 144px;
}


.header {
    height: 64px;
}


.center_header {
    padding-left: 24px;
    padding-right: 35px;
}

.center_header h3 {
    font-family: var(--font-nunito);
    font-weight: 600;
    font-size: 16px;
    margin-left: 11px;
}

.center_header svg,
.left_header_profile svg {
    color: white;
    font-size: 1.5rem;
}

.center_header_icon_container {
    width: 54px;
}

.center_body {
    height: calc(100% - 128px);
}

.center_bottom {
    height: 64px;
    padding-left: 26px;
    padding-right: 26px;
    position: relative;
}

.center_bottom_emoji_container {
    width: 58px;
}

/* 608 40 */

.form_chat_center {
    width: calc(100% - 135px);
    flex-direction: column;
}

.form_chat_center,
.left_header_search_box {
    display: flex;
    height: 40px;
    display: flex;

}

.form_chat_center>input {
    height: inherit;
    background: #26272D;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
}

.form_chat_center>input::placeholder,
.left_header_search_box>input::placeholder {
    font-family: var(--font-nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
}

.right_profile {
    height: 232px;
}

.right_info {
    height: 92px;
}

.right_media_links {
    height: 146px;
}

.right_datas {
    height: 216px;
}

[class*="profile_photo_"] {
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.profile_photo_40 {
    width: 40px;
    height: 40px;
}

.profile_photo_48 {
    width: 48px;
    height: 48px;
}


.profile_photo_124 {
    width: 124px;
    height: 124px;
}